<div class="page-wrapper">

  <div class="left-side">
    <div class="overlay"></div>
    <div class="left-bottom">
      <div class="tag">SÉCURITÉ</div>
      <h1>Nouveau<br/><span>mot de passe</span></h1>
      <p>Choisissez un mot de passe fort<br/>pour sécuriser votre compte.</p>
    </div>
  </div>

  <div class="right-side">
    <div class="form-container">

      <div class="icon-top">🔒</div>
      <h2>Réinitialisation</h2>
      <p class="subtitle">Entrez votre nouveau mot de passe ci-dessous</p>

      <div *ngIf="error"   class="alert-error">⚠️ {{ error }}</div>
      <div *ngIf="success" class="alert-success">✅ {{ success }}</div>

      <div *ngIf="!token" class="alert-error">
        ⚠️ Token manquant ! Vérifiez votre lien email.
      </div>

      <form (ngSubmit)="onReset()" *ngIf="token">

        <div class="field">
          <label>NOUVEAU MOT DE PASSE</label>
          <div class="input-wrapper">
            <span class="input-icon">🔒</span>
            <input [type]="showPassword ? 'text' : 'password'"
                   [(ngModel)]="nouveauMotDePasse"
                   name="nouveauMotDePasse"
                   placeholder="••••••••" required/>
            <span class="eye-icon" (click)="togglePassword()">
              {{ showPassword ? '🙈' : '👁' }}
            </span>
          </div>
        </div>

        <div class="field">
          <label>CONFIRMER LE MOT DE PASSE</label>
          <div class="input-wrapper">
            <span class="input-icon">🔒</span>
            <input [type]="showConfirm ? 'text' : 'password'"
                   [(ngModel)]="confirmMotDePasse"
                   name="confirmMotDePasse"
                   placeholder="••••••••" required/>
            <span class="eye-icon" (click)="toggleConfirm()">
              {{ showConfirm ? '🙈' : '👁' }}
            </span>
          </div>
        </div>

        <button type="submit" class="btn-submit" [disabled]="loading">
          <span *ngIf="!loading">Confirmer →</span>
          <span *ngIf="loading">Réinitialisation...</span>
        </button>

      </form>

      <div class="divider"><span>Vous vous souvenez ?</span></div>
      <button class="btn-secondary" routerLink="/login">Se connecter</button>
      <p class="footer-text">© 2025 MediaNet · Startup Village</p>

    </div>
  </div>

</div>