<div class="page-wrapper">

  <div class="left-side">
    <div class="overlay"></div>
    <div class="left-bottom">
      <div class="tag">RÉCUPÉRATION</div>
      <h1>Mot de passe<br/><span>oublié ?</span></h1>
      <p>Pas de panique ! Entrez votre email<br/>et nous vous enverrons un lien.</p>
      <button class="btn-back" routerLink="/login">← Retour connexion</button>
    </div>
  </div>

  <div class="right-side">
    <div class="form-container">

      <div class="icon-top">🔐</div>
      <h2>Réinitialiser</h2>
      <p class="subtitle">Entrez votre email pour recevoir un lien de réinitialisation</p>

      <div *ngIf="error"   class="alert-error">⚠️ {{ error }}</div>
      <div *ngIf="success" class="alert-success">✅ {{ success }}</div>

      <form (ngSubmit)="onForgot()" *ngIf="!success">
        <div class="field">
          <label>ADRESSE EMAIL</label>
          <div class="input-wrapper">
            <span class="input-icon">✉</span>
            <input type="email" [(ngModel)]="email"
                   name="email" placeholder="votre@email.com" required/>
          </div>
        </div>

        <button type="submit" class="btn-submit" [disabled]="loading">
          <span *ngIf="!loading">Envoyer le lien →</span>
          <span *ngIf="loading">Envoi en cours...</span>
        </button>
      </form>

      <div *ngIf="success" class="after-success">
        <p>Vous n'avez pas reçu l'email ?</p>
        <button class="btn-retry" (click)="success = ''">Réessayer</button>
      </div>

      <div class="divider"><span>Vous vous souvenez ?</span></div>
      <button class="btn-secondary" routerLink="/login">Se connecter</button>
      <p class="footer-text">© 2025 MediaNet · Startup Village</p>

    </div>
  </div>

</div>