<div class="page-wrapper">

  <div class="left-side">
    <div class="overlay"></div>
    <div class="left-bottom">
      <div class="tag">SÉCURITÉ</div>
      <h1>Protégez<br/><span>votre compte</span></h1>
      <p>Changez régulièrement votre<br/>mot de passe pour plus de sécurité.</p>
      <button class="btn-back" routerLink="/profil">← Mon profil</button>
    </div>
  </div>

  <div class="right-side">
    <div class="form-container">

      <div class="icon-top">🔐</div>
      <h2>Changer mon mot de passe</h2>
      <p class="subtitle">Entrez votre ancien mot de passe et choisissez un nouveau</p>

      <div *ngIf="error"   class="alert-error">⚠️ {{ error }}</div>
      <div *ngIf="success" class="alert-success">✅ {{ success }}</div>

      <form (ngSubmit)="onChangePassword()">

        <div class="field">
          <label>ANCIEN MOT DE PASSE</label>
          <div class="input-wrapper">
            <span class="input-icon">🔒</span>
            <input [type]="showAncien ? 'text' : 'password'"
                   [(ngModel)]="ancienMotDePasse"
                   name="ancienMotDePasse"
                   placeholder="••••••••" required/>
            <span class="eye-icon" (click)="toggleAncien()">
              {{ showAncien ? '🙈' : '👁' }}
            </span>
          </div>
        </div>

        <div class="field">
          <label>NOUVEAU MOT DE PASSE</label>
          <div class="input-wrapper">
            <span class="input-icon">🔒</span>
            <input [type]="showNouveau ? 'text' : 'password'"
                   [(ngModel)]="nouveauMotDePasse"
                   name="nouveauMotDePasse"
                   placeholder="••••••••" required/>
            <span class="eye-icon" (click)="toggleNouveau()">
              {{ showNouveau ? '🙈' : '👁' }}
            </span>
          </div>
        </div>

        <div class="field">
          <label>CONFIRMER LE NOUVEAU MOT DE PASSE</label>
          <div class="input-wrapper">
            <span class="input-icon">🔒</span>
            <input [type]="showConfirm ? 'text' : 'password'"
                   [(ngModel)]="confirmMotDePasse"
                   name="confirmMotDePasse"
                   placeholder="••••••••" required/>
            <span class="eye-icon" (click)="toggleConfirm()">
              {{ showConfirm ? '🙈' : '👁' }}
            </span>
          </div>
        </div>

        <button type="submit" class="btn-submit" [disabled]="loading">
          <span *ngIf="!loading">Modifier →</span>
          <span *ngIf="loading">Modification...</span>
        </button>

      </form>

      <div class="divider"><span>Retour</span></div>
      <button class="btn-secondary" routerLink="/profil">← Mon profil</button>
      <p class="footer-text">© 2025 MediaNet · Startup Village</p>

    </div>
  </div>

</div>